* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    flex-flow: column;
    font-size: 16px;
    height: 100vh;
    
}

.header{
    outline: 1px solid green;
    height: 3rem;

}

.container{
    outline: 1px solid chocolate;
    display: flex;
    height: 100vh;
    
}
.content {
    outline: 1px solid yellow;
    flex: 1 auto;
}

.aside{
    outline: 1px solid purple;
    flex: 0 0 25%;
}

.footer{
   outline:1px solid cyan ;
   height: 6rem;
   margin-top: auto;
}
.Menu{
 display: flex;

}

.Menu-item{
    list-style: none;
    flex: 1;
    outline: 1px solid red;
    line-height: 3rem;
    text-align: center;
    transition: flex .10s;

}

.Menu-item:hover{
    flex:8;

}
